{% extends 'admin/change_list.html' %}

{% block object-tools %}
    <a href="import-csv/" class="grp-button" style="margin-bottom: 10px;">Загрузить продукты</a>
    <a href="update-prices/" class="grp-button" style="margin-bottom: 10px;">Загрузить цены и кол-ва</a>
    <a href="update-category-content/" class="grp-button" style="margin-bottom: 10px;">Загрузить категорию, контент и бренд</a>
    <a href="update-properties/" class="grp-button" style="margin-bottom: 10px;">Загрузить свойства</a>
    <br />
    {{ block.super }}
{% endblock %}